<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowPrice</key>
	<string>BOTH</string>
	<key>SelectedMensa</key>
	<dict>
		<key>name</key>
		<string>Ingolstadt</string>
		<key>url</key>
		<string>http://namnam.bytewerk.org/files/Studiwerk-Erlangen-Nuernberg-Mensa-IN.xml</string>
	</dict>
</dict>
</plist>
